* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
